<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentacion de Proyecto Final</title>
</head>
<body>
    <h1>Sistema de Reporte</h1>
    <p>Objetivo:</p>
    <p>Registrar y reportar medidas de avance de los PPDA por parte de los
        organismos sectoriales, con enfoque en el plan de Concón, Quintero y
        Puchuncaví.</p>
        <p>Grupo 1</p>
</body>
</html>
